<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--        <context:component-scan base-package="top.woohsi"/>-->
        <bean name="user" class="top.woohsi.bean.User"/>

        <bean id="localDate" class="java.time.LocalDate" factory-method="now"/>

        <bean id="executorService" class="java.util.concurrent.Executors"
              factory-method="newCachedThreadPool"
              destroy-method="shutdown"/>
        <bean id="address2" class="top.woohsi.bean.Address"/>
<!--        <bean id="user2" class="top.woohsi.bean.User">-->
<!--                <constructor-arg name="name" value="Joe"/>-->
<!--                <constructor-arg name="age" value="9"/>-->
<!--                <constructor-arg name="address" ref="address"/>-->
<!--        </bean>-->



</beans>